<header>
  <h1>Fleeting Notes</h1>
  <p>Things I write when the mood strikes. Some thoughts might contradict each other, some might seem silly later, and some might just be me figuring things out as I go. No promises they'll age well.</p>
</header>
