
<!DOCTYPE html>
<html lang="en">

{% include "meta.njk" %}

<body>
  <h2 id='site-title' class='post'><a href='/'>🍃 Fleeting Notes</a></h2>

  <main>
    <time>{{ page.date.toLocaleString('en', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) }}</time>
    {{ content | safe }}
    <a class='home' href='/'>← Back to home</a>
  </main>
  
  {% include "footer.njk" %}
</body>
</html>
